section {
  background: url('./mountains.svg'),
    linear-gradient(135deg, #1f4e69 0, #164058 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
}

.container {
  margin: auto;
}

@media (max-width: 1000px) {
  section {
    flex-direction: column;
  }
}
